extends layout

block content
    p This COVID-19 Tracker uses the publicly available REST API provided by 
        a(href='https://www.covid19api.com') covid19api.com
    p Visit the  
        a(href='/') home page