html,
body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}
section {
    padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 0.5rem 0.5rem;
    padding: 1rem;
    background-color: #e5e5e5;
    border-radius: 0.5rem;
}
.row {
    overflow: hidden;
}
.row > * {
    width: 33.33%;
    float: left;
}
.card h2 {
    margin-top: 0;
}
.card h4 {
    text-align: center;
    margin: 0;
    padding: 0.5rem 0.5rem;
}
.card .count {
    font-weight: bold;
    text-align: center;
    padding: 0.25rem 0 1rem;
    font-size: 1.25rem;
}
.card .new,
.card .total {
    width: 48%;
    margin-right: 2%;
    padding: 0;
    border-radius: 0.5rem;
    border: 1px solid black;
    box-sizing: border-box;
}
.card .new {
    background-color: #fff;
}
.card .total {
    color: #fff;
    background-color: gray;
}
.card .deaths .total {
    color: #fff;
    background-color: black;
}
.card .recovered .total {
    color: #fff;
    background-color: green;
}

@media screen and (min-width: 60rem) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards.large {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 100rem) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .cards.large {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 140rem) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
    .cards.large {
        grid-template-columns: repeat(2, 1fr);
    }
}

.error {
    font-size: 1.7em;
    color: red;
}

/* Forms */

input {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    width: 18rem;
}